body {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: auto;
  width: 100%;
}
